@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html {
    font-size: 62.5%;

    @media only screen and (min-width : 320px) {
        font-size: 65%;
    }   

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 390px) {
        font-size: 70%;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        font-size: 80%;
    }

    // /* Medium Devices, Desktops */
    // @media only screen and (min-width : 992px) {

    // }

    // /* Large Devices, Wide Screens */
    // @media only screen and (min-width : 1200px) {

    // }

}

body {
    font-family: "Open Sans", sans-serif;
}