@use "../../assets/styles/reusable.all.scss" as *;



.container {

    height: 100%;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .circle {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, $color-2, $color-6);
        width: 100%;
        height: 23rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .navbar {
        display: flex;
        align-items: center;
        font-size: 3vh;
        color: $color-4;
        gap: 1rem;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        
        
        .measures {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .measureswrapper {
                padding: 1rem;
                border-radius: 2rem;
                max-width: 30rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .results {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    

                    .systolic,
                    .diastolic,
                    .pulse {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        color: $color-4;
                        
                        
                        .text {
                            font-size: 2.5vh;
                            font-weight: 600;
                        }

                        .percent {
                            font-size: 2vh;
                            font-weight: 600;
                        }

                        .rating {
                            font-size: 1.5vh;
                            font-weight: 600;
                        }
                    }
                }

                .date {
                    color: $color-4;
                    font-size: 1.5vh;
                }

            }


        }


        .visualize {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .visualizewrapper {
                background-color: $color-4;
                padding: 1vh 2.5vh;
                border-radius: 2rem;
                max-width: 30rem;
                width: 100%;
                gap: .5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                


                .visualtitle {
                    font-size: 2.5vh;
                    font-weight: 700;
                    color: $color-6;

                }

                .visualinfo {
                    color: black;
                    font-size: 1.5vh;
                    font-weight: 600;

                }

                .visual {
                    width: 100%;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                    position: relative;


                    .line {
                        width: 100%;
                        height: 2rem;
                        background: linear-gradient(to right, blue, green, yellow, orange, red);
                        border-radius: 2rem;

                    }
                    .indicator {
                        position: absolute;
                        background-color: $color-6;
                        border: 1px solid $color-5;
                        border-radius: 2rem;


                        height: 3.5rem;
                        width: .5rem;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 38%;

                    }
                }

            }
        }


        .advice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .advicewrapper {
                background-color: $color-4;
                padding: 1vh 2.5vh;
                border-radius: 2rem;
                max-width: 30rem;
                width: 100%;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                .advicetitle {
                    font-size: 2vh;
                    font-weight: 700;
                }

                .pressure {
                    font-size: 1.5vh;
                    font-weight: 600;
                    .state {
                        color: $color-6;
                    }
                }

                .lifestyle {
                    font-size: 1.5vh;
                    font-weight: 700;
                    color: $color-6;

                }

                .text {
                    font-size: 1.5vh;
                    font-weight: 700;
                    line-height: 3vh;
                }


            }
        }

        
        .logo {
            align-self: center;
            width: 23vh;
            img {
                width: 100%;
            }
        }
    }
}