@use "../../assets/styles/reusable.all.scss" as *;


.container {
    padding: 2rem;
    height: 100%;
    

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 1rem;


        .profilebar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
    
            .profile {
                display: flex;
                align-items: center;
                gap: 1rem;
    
                .profilepic {
                    font-size: 3vh;
                    border-radius: 50%;
                    color: $color-5;
                    width: 4rem;
                    img {
                        height: 100%;
                        object-fit: contain;
                        width: 100%;
                    }
                }
        
                .profilename {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
    
            .notifier {
                font-size: 3rem;
                padding: 1rem;
                border-radius: 50%;
                color: $color-5;
                position: relative;

                .menu {
                    svg {
                        position: absolute;
                        z-index: 100;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .on {
                    color: $color-4;
                }

                .circle {
                    position: absolute;
                    background-color: $color-6;
                    border-radius: 50%;
                    width: 30rem;
                    height: 30rem;
                    top: -30rem;
                    right: -30rem;
                    z-index: 99;
                    padding: 4rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2rem;


                    .itmsupport,
                    .itmprofile,
                    .itmmessage,
                    .itmlogout {
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        color: $color-4;
                    }

                    .itmsupport,
                    .itmlogout {
                        padding-left: 2rem;
                    }
                }

                .hidemenu {
                    display: none;
                    
                }
            }
        }
    
        .sections {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

    
            .sectionshead {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 2.5rem;
                font-weight: 700;
                color: rgba($color-5, .8);
            }
    
            .grid {
                display: grid;
                height: 100%;
                grid-template-columns: 10rem 1fr;
                column-gap: 1rem;
                row-gap: 1.5rem;

    
    
                .respiration {
                    background-color: $color-6;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-content: center;
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 2rem;
                    color: $color-4;
                    
                }
    
                .oxygen {
                    background-color: rgba($color-5, .2);
                    border-radius: 2rem;
                    padding: 1rem;
                    grid-column-start: 2;
                    grid-column-end: 4;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
    
                    .oxygentitle {
                        font-size: 2rem;
                        font-weight: 600;
                        padding-right: 5rem;
                        color: rgba(black, .7);
                    }
    
                    .oxygenimg {
                        position: absolute;
                        width: 10rem;
                        right: 0rem;
                        bottom:  2rem;
                        
                        img {
                            width: 100%;
                        }
                        
                    }
    
                    .oxygenrate {
                        margin-top: auto;
                        font-size: 1.2rem;
                        color: rgba(black, .8);
                        font-weight: 600;
                        span {
                            font-size: .7rem;
    
                        }
                    }
    
                }
    
                .heart {
                    position: relative;
                    background-color: rgba($color-5, .2);
                    grid-column-start: 1;
                    grid-column-end: 4;
                    padding: 2rem;
                    border-radius: 2rem;
    
                    .heartinfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2rem;
                        width: fit-content;
                        align-items: center;
    
                        .hearttitle {
                            font-size: 2rem;
                            font-weight: 600;
                        }
    
                        .heartblocks {
                            display: flex;
                            
                            gap: 1rem;
                            
                            .heartblock {
                                // padding: 1rem;

                                background-color: rgba($color-5, .2);
                                border-radius: 2rem;
                                width: 7rem;
                                height: 8rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: .2rem;
    
    
                                .heartblockimg {
                                    font-size: 1.5rem;
                                    // padding: .7rem;
                                    color: $color-5;
                                    background-color: $color-4;
                                    border-radius: 50%;
                                    width: 3rem;
                                    height: 3rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
    
                                    
        
                                }
        
                                .heartblocktitle {
                                    font-weight: 700;
                                    font-size: .8rem;
                                }
        
                                .heartblockrate {
                                    font-size: 1rem;
                                }
                            }
                        }
    
                    }
                    .heartimg {
                        width: 8rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 2rem;
                        img {
                            width: 100%;
                        }
                    }
    
                }
    
                .stress {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    border-radius: 2rem;
                    padding: 1rem;
                    
                    
                   
                    .stressinfo {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        
                        
                        
                        
                        .stressimg {
                            position: relative;
                            width: 11rem;
                            height: 11rem;
                            display: flex;
                            justify-content: center;

 
                            .stresstitle {
                                font-size: 1.8rem;
                                font-weight: 600;
                                color: $color-4;
                                
                                .left {
                                    position: absolute;
                                    left: -1.5rem;
                                }

                                .right {
                                    position: absolute;
                                    right: -1.5rem;
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                
                            }
                        }
        
                        .stresslevel {
                            font-size: 2rem;
                            color: $color-4;
                            font-weight: 700;
        
                        }
                    }
    
                }
    
                .normal {
                    background-color: $color-6;

                    // .stressinfo {
                    //     .stressimg {
                    //         width: 10rem;

                           
                    //     }
                    // }
                }
                .danger {
                    background-color:#dc3545;

                    
                    // .stressinfo {
                    //     .stressimg {
                    //         width: 10rem;
                    //         margin-left: -.5rem;

                            
                    //     }
                    // }
                }
            }
            
        }
    }



    .backshadow {
        background-color: black;
        display: none;
        position: fixed;
        inset: 0 0 0 0;
        z-index: 98;
        opacity: .5;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .on { 
        display: block;
    }
}